body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-deals {
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-deals {
    display: contents;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .user-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  margin-right: 50px;
  display: block;
}

.logo__span {
  color: #2196f3;
}

.logo__studio {
  color: #ffffff;
}

.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.navigation__list {
  list-style: none;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__current {
  position: relative;
  color: #2196f3;
}
.navigation__current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.contacts__list {
  margin-left: 50px;
}
.contacts__list:first-child {
  margin-left: 0px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 30px;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile_img/Header_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  flex-grow: 1;
  height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile_img/Header_img2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet_img/Header_img_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet_img/Header_img_tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/overlay.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop_img/bg_Img2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 0.06em;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.button {
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}
.form-checkbox .button {
  margin-top: 30px;
  padding: 10px 55px;
  width: 200px;
  border: none;
}

.traits {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .traits {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .traits {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 0;
  }
}

.traits__item {
  width: 320 px;
}
.traits__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .traits__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .traits__item {
    width: 354px;
    flex-basis: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .traits__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .traits__item {
    margin-right: 30px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 270px;
  }
  .traits__item:last-child {
    margin-right: 0px;
  }
}

.traits__picture {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 0;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .traits__picture {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .traits__picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .traits__picture {
    width: 270px;
  }
}

.traits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .traits__title {
    text-align: left;
  }
}

.traits__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-work {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.our-work__item {
  margin-right: 30px;
}
.our-work__item:last-child {
  margin-right: 0px;
}

.our-work__content {
  position: relative;
}

.our-work__title {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding: 27px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.special-team {
  background-color: #f5f4fa;
}

.personality {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .personality {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .personality {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.personality__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.personality__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .personality__item {
    flex-basis: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .personality__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .personality__item {
    margin-right: 30px;
  }
  .personality__item:last-child {
    margin-right: 0px;
  }
}

.personality__data {
  padding-bottom: 24px;
  padding-top: 30px;
}
@media screen and (min-width: 1200px) {
  .personality__data {
    padding-bottom: 30px;
  }
}

.personality__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.personality__prof {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.scl-media {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.scl-media__list + .scl-media__list {
  margin-left: 10px;
}

.scl-media__link {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.scl-media__link:hover, .scl-media__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.public-pages .scl-media__link {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.scl-media__icon {
  fill: currentColor;
}
.public-pages .scl-media__icon {
  fill: #ffffff;
}
.scl-media__link:hover .scl-media__icon {
  fill: currentColor;
}

.business-company {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
@media screen and (min-width: 1200px) {
  .business-company {
    flex-wrap: nowrap;
    justify-content: right;
    margin-top: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .business-company__list + .business-company__list {
    margin-left: 30px;
  }
}

.business-company__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc(50% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.business-company__link:hover, .business-company__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .business-company__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .business-company__link {
    width: 226px;
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .business-company__link {
    width: 170px;
    flex-basis: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

.business-company__icon {
  fill: currentColor;
}
.business-company__link:hover .business-company__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address__list {
  list-style: none;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__maps {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

.address__link {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.public-pages {
  margin-left: 70px;
}

.public-pages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe {
  margin-left: 93px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe__mail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.subscribe__icon {
  fill: currentColor;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.portfolio-menu {
  list-style: none;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-menu__item {
  margin-right: 8px;
}
.portfolio-menu__item:last-child {
  margin-right: 0;
}

.portfolio-menu__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.portfolio-menu__btn:hover, .portfolio-menu__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.gallery-project {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.gallery-project__list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery-project__list:nth-child(3n) {
  margin-right: 0;
}
.gallery-project__list:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.gallery-project__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-project__link:hover, .gallery-project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-project__content {
  position: relative;
  overflow: hidden;
}

.gallery-project__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-project__link:hover .gallery-project__text, .gallery-project__link:focus .gallery-project__text {
  transform: translateY(0);
}

.gallery-project-name {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.gallery-project-name__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.gallery-project-name__item {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: rotate(180deg) scale(1.25);
}

.finish {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #2196f3;
}

.finish-icon {
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.finish:focus .finish-icon, .finish:hover .finish-icon {
  fill: currentColor;
}

.modal-form {
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  outline: none;
}

.icon-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.input-name-svg,
.input-phone-svg,
.input-mail-svg {
  position: absolute;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-name-svg, .modal-input:hover + .input-name-svg,
.modal-input:focus + .input-phone-svg,
.modal-input:hover + .input-phone-svg,
.modal-input:focus + .input-mail-svg,
.modal-input:hover + .input-mail-svg {
  fill: #2196f3;
}

.form-field {
  margin-bottom: 10px;
}

.modal-comment {
  resize: none;
  width: 448px;
  height: 120px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:hover, .modal-comment:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  outline: none;
}

.form-comment {
  margin-bottom: 20px;
}

.modal-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-checkbox {
  position: relative;
  text-align: center;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.checkbox-text .icon-contract {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contract-check:checked + .checkbox-text .icon-contract {
  background-color: #2196f3;
  border: none;
}

.contract-check:focus + .checkbox-text .icon-contract,
.contract-check:hover + .checkbox-text .icon-contract {
  border: 2px solid #2196f3;
  outline: none;
}

.checkbox-link {
  color: #2196f3;
}

.icon-check {
  fill: transparent;
}
.contract-check:checked + .checkbox-text .icon-contract .icon-check {
  fill: #ffffff;
}

.checkbox-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */