.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address__list {
  list-style: none;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__maps {
  display: inline-block;
  text-decoration: none;
  color: $title-light;
}
.address__link {
  display: inline-block;
  text-decoration: none;
  color: $link-color;
}
