.business-company {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  @include desktop {
    flex-wrap: nowrap;
    justify-content: right;
    margin-top: 0;
    margin-left: 0;
  }
}
.business-company__list + .business-company__list {
  @include desktop {
    margin-left: 30px;
  }
}
.business-company__list {
    margin-top: 30px;
    margin-left: 30px;
  @include mobile {
    flex-basis: calc(100% / 2 - 30px);
  }

      @include tablet {
    flex-basis: calc(100% / 3 - 30px);
  }
    @include desktop {
    flex-basis: 0;
    margin-top: 0;
    margin-left: 0;
  } 
}
  

.business-company__link {
  width: 170px;
  height: 92px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $icon-color;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }

  @include mobile {
    width: 210px;
  }
  @include tablet {
    width: 226px;
  }
  @include desktop {
    width: 170px;
  }  
}
.business-company__icon {
  fill: currentColor;
    .business-company__link:hover & {
    fill: currentColor;
  }
}