.footer {
  background-color: $bg-footer;
  padding-top: 60px;
  padding-bottom: 60px;
    @include desktop {
  display: flex;
  align-items: baseline;
}

}
.footer__container {
  justify-content: space-around;
  text-align: center;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

  }
@include desktop {
   text-align: left;
}
}