.gallery-project {
  list-style: none; 
  cursor: pointer;
  margin-top: 40px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.gallery-project__list {
  width: 100%;
&:not(:last-child) {
  margin-bottom: 30px;
}
  @include mobile {
    width: 450px;

  }
  @include tablet {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    &:nth-child(-n + 8) {
       margin-bottom: 0;
    }
  }
  @include desktop {
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
  }
  
}
.gallery-project__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.gallery-project__content {
  position: relative;
  overflow: hidden;
}
.gallery-project__text {
  padding: 24px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: $bg-text;
  @include font(400, 18px, 1.6);
  color: $title-light;
 
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .gallery-project__link:hover &,
    .gallery-project__link:focus & {
    transform: translateY(0);
  }
   @include mobile {
    padding: 77px 24px;
     
  }

  @include tablet {
    padding-top: 49px;
    padding-bottom: 77px;
  }
  @include desktop {
     padding: 63px 24px;
    
  }
}

.gallery-project-name {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
}
.gallery-project-name--bigger {
  @include tablet {
    height: 146px;
  }
  @include desktop {
    height: 110px;
  }
  
}
.gallery-project-name__title {
  @include font(700, 18px, 2, 0.06em);
  color: $base-color;
  margin-bottom: 4px;
}
.gallery-project-name__item {
  @include font(null, 16px, 1.9);
  color: $contact-color;
}
