.mobile-menu-open {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover, &:focus {
        color: $accent-color;
        cursor: pointer;
    }
    @include tablet {
        display: none;
    }
}

.mobile-menu__icon {
    fill: #000;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .mobile-menu-open:hover &,
    .mobile-menu-open:focus & {
        fill: currentColor;
    }
}
.mobile-menu-close {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 15px;
    padding: 0;



}