
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-backdrop;
  transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms;
  width: 528px;
  min-height: 581px;
  background-color: $title-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px $bg-backdrop;
  border-radius: 4px;
    .backdrop.is-hidden & {
    transform: rotate(180deg) scale(1.25);
  }
}
.finish {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $accent-color;
}
.finish-icon {
  fill: $base-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .finish:focus &,
    .finish:hover & {
    fill: currentColor;
  }
}
.modal-form {
  padding: 40px;
}
.modal-title {
  @include font(700, 20px, 1.15);
  text-align: center;
  color: $base-color;
  margin-bottom: 12px;
}
.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid $modal-input-border;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
    outline: none;
  }
}
.icon-wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.input-name-svg,
.input-phone-svg,
.input-mail-svg {
  position: absolute;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus + &,
    .modal-input:hover + & {
    fill: $accent-color;
  }
}
.form-field {
  margin-bottom: 10px;
}
.modal-comment {
  resize: none;
  width: 448px;
  height: 120px;
  display: block;
  border: 1px solid $modal-input-border;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
    @include font(null, 14px, 1.16, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
    &:hover,
    &:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
    outline: none;
  }
}
.form-comment {
  margin-bottom: 20px;
}
.modal-text {
  @include font(null, 12px, 1.16, 0.01em);
  color: $contact-color;
}