.public-pages {
  margin-top: 60px;
  @include tablet {
    margin-top: 0;
  }
  @include desktop {
    margin-left: 70px;
    margin-top: 0;
  }
  
}
.public-pages__title {
  @include font(700, 14px, 1.1);
  text-transform: uppercase;
  color: $title-light;
  margin-bottom: 20px;
}