$base-color: #212121;
$line-header: #ececec;
$accent-color: #2196f3;
$contact-color:#757575;
$bg-color-dark: #2f303a;
$bg-color-light: #f5f4fa;
$title-light: #ffffff;
$btn-accent-color: #188ce8;
$icon-color: #afb1b8;
$bg-footer: #2f303a;
$link-color: #ffffff99;
$bg-text: rgba(33, 150, 243, 0.9);
$border-color: #eeeeee;
$bg-backdrop: rgba(0, 0, 0, 0.2);
$modal-input-border: rgba(33, 33, 33, 0.2);





